.Conten{
    height: auto;
    width: auto;
    /*background: pink;*/
}

.Buttons li{
    list-style-type: none;
}

/*Los botones de la lista desplegable*/
.Buttons h3{
    height: 2.2vw;
    color: black;
    font-size: 1.2vw;
    line-height: 2.1vw;
    padding: 0 10px;
    margin: 0px;
    background: #CCCBC8;
    text-align: center;
    margin: 0.6vw 0 0.6vw 0;
}

/*Dentro de la lista desplegable*/
.Buttons ul li a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 1vw;
}

/*El map dentro de la lista desplegable*/
.Buttons h4{
    font-size: 1vw;
    margin-top: 10px;
}

.Por_revisar{
    height: auto;
    width: auto;
    border: black solid 0.1vw;
    text-align: center;
}

.To_check{
    height: 26.1vw; /*Alto (Luego pasar a auto)*/
    width: 18.3vw; /*Ancho*/
    /*background: white; /*Eliminar luego*/
    border: black solid 0.1vw;
    margin: 2px 5px 0px 0px; /*ARRIBA | DERECHA | ABAJO | IZQUIERDA */
    text-align: center;
    color: black;
}

.Revisadas{
    height: auto;
    width: auto;
    border: black solid 0.1vw;
    text-align: center;
}

.Check{
    height: 26.1vw; /*Alto (Luego pasar a auto)*/
    width: 18.3vw;
    /*background: white;*/
    border: black solid 0.1vw;
    margin: 2px 0px 0px 5px; /*ARRIBA | DERECHA | ABAJO | IZQUIERDA */
    text-align: center;
    color: black;
}

.Dates{
    height: auto;
    width: auto;
    /*background: black;*/
    display: flex;
    transform: translateX(30vw);
}