.Conten{
    height: auto;
    width: auto;
    background: pink;
}

.NameClassroom{
    width: 5vw;
    height: auto;
    transform: translateX(10%);
    font-size: 1vw;
}

.NameObjectClassroom{
    height: auto;
    width: 20vw;
    transform: translateX(10%);
    font-size: 1vw;
}

.Checkbox{
    display: flex;
    align-items: center;
}

.ObjectLabel{
    /*Arriba | Derecha | Abajo | Izquierda*/
    margin: 10px 5px 10px 5px;
}