.ContButton{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Contenido h3{
    padding: 0 0 10px 0;
}

.Contenido{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Contenido h1{
    font-weight: 700;
    margin-bottom: 10px;
}

.Contenido p{
    margin-bottom: 20px;
}



.Formulario label{
    font-size: 25px;
    padding: 0 0 10px 0;
}

.Formulario .exito {
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	color: #02a802;
}

.itemsForm{
  overflow: hidden;
}

.ClasBtn{
    display: block;
    padding: 10px 30px;
    border-radius: 100px;
    color: black;
    border: none;
    background: #999;
    cursor: pointer;
    font-weight: 500;
    transition: .3s ease all;
    float: right;
}

.ClasBtn:hover{
    background: #4f535a;
}

.error{
    color: #ff0000;
    text-align: center;
}