.BtnClassroom h3{
    width: auto;
    height: auto; /*Alto*/
    background: white;
    font-size: 1vw;
    border: red solid 0.1vw;
    text-align: center;
}

label{
    text-align: left;
    font-size: 1vw;
}

.BtnClassroom a{
    text-align: left;
}

.checkbox{
    margin-right: 5px;
}

/*
.BtnClassroom h3{
    width: auto;
    height: auto; /*Alto
    background: white;
    font-size: 1vw;
    border: red solid 0.1vw;
}

.CheckboxObjetos{
    width: auto;
    height: auto; /*Alto
    font-size: 1vw;
    text-align: left;
    /*border: black solid 0.1vw;
    background: pink;
    transform: translateX(-20%);
}

.BtnClassroom ul{
    background: blue;
    text-align: left;
    
}
*/