.pagesInventory{
    /* height: 5vw; */
    width: auto;
    /* background: rgb(208, 216, 223); */
    background: #999;
    text-align: center;
    list-style: none;

}



.pagesInventory h2{
    /* font-size: 2vw; */
    padding: 1vw 0 1vw 0; 
    list-style: none;

}

.categoryInventory h3{
    background-color: rgb(245, 185, 250);
    padding: 5px;
    display: flex;
    justify-content: center;
    border: 5px;
    border-color:rgb(0, 0, 0);
    list-style: none;

}
.categoryInventory li{
    list-style: none;
}

.categoryInventory ul{
    justify-content: space-between;
    display: grid;
    list-style: none;
    display: grid;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    height: 100%;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 80px 80px 80px;
    grid-gap: 20px;
    
    /* grid-template-areas: "header   header   header   header"
                         "main     main     main     main"
                         "footer   footer   footer   footer"
                         "row  row  row  row"; */
                         
}
.Inventory-MaterialTable{
    width: 100%;
    align-items: center;
    padding: 25px 60px 25px 60px;
}
.buttonAddAulas{
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
    border-style: none;    
    background-color: rgb(206, 200, 200);
    color: rgb(18, 18, 18);
    font-size: arial;
    display: block;
    margin-right: 50px;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 0;
}
.buttonAddAulas:hover {
    box-shadow: 0 4px 12px 0 rgba(69, 67, 67, 0.24);
  }

.addAulas{
    margin: 15px;
    
}