.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    width: 50vh;
    height: 50vh;
    position: relative;
    top: 200px;
    left: 38%;
    box-shadow: 0 20px 20px rgb(0, 0, 0);
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;    
    color: white;
    font-size: 25px;
}
form h2{
    text-align: center;
}
.ingreso h3{
    font-size: 22px;
}
.formUsuario, .formPassword{
    height: 40px;
    width: 220px;
    margin-left: 15px;
    outline: none;
    border: none;
    color: #222;
    border-bottom: solid 2px white;
    padding-left: 5px;
}
.fa-solid{
    width: 25px;
}
form .link{
    font-size: 20px;
    text-align: center;
}
form button{
    color:rgb(255, 255, 255);
    border: none;
    background: rgb(71, 71, 71);
    cursor: pointer;
}