*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    height: 5vw;
    background-color: #008ED0;
    text-align: center;
}

.Title{
    color: #fff;
    font-size: 2.3vw;
    /*text-align: center;*/
    transform: translateX(-5%) translateY(50%);
}

.Logo{
    width: 13vw;
    height: auto;
    float: left;
    transform: translateX(10%) translateY(23%);
}
